td{
    width: 1.1em ;
    height: 1.1em;
    border: 1px solid black;
    border-collapse:collapse;
    background-color:darkgrey;
    text-align:center;
    padding:0px;
}
table{
    width:auto;
    border: none;
    border-collapse:collapse;
    margin: 0px;
    padding: 0px; 
    background-color: darkgrey;
}
#controlBar{
    width: max-content;
    margin: auto;
}
#controlBar li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
#controlBar ul{
    list-style-type: none;
    margin: 0;

}
#banner{
    width:100%;
    background-color:orchid;
}
#navBar{
    height: max-content;
    background-color:darkorchid;
    border:1px black solid;
    border-right: none;
    border-left: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
}
#navBar ul{
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}
#navBar li{
    display: inline;
    padding-right: 25px;
    padding-left: 0;
}
#navBar li a{
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
    text-decoration-line: none;
}
#navBar li a:hover{
    color:yellow;
    text-decoration-line: underline;
    font-weight:bolder;
}
#navBar li a:current{
    color:yellow;
    text-decoration-line: underline;
    font-size: larger;
}

#banner h1{
    color:yellow;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0;
    margin-left: 20px;
    font-size:3.5em;
}
#banner h2{
    color: darkmagenta;
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    margin-left: 20px;    
    font-size:1.2em;

}
#container{
    width:max-content;
    margin: auto;
    border:1px black solid;
    border-radius: 10px;
    background-color: orchid;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button {
    background-color: darkorchid; 
    border: 1px black solid;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
}

.button:hover {
    background-color: red;
}

#iteration {
    background-color: grey;
}

#presetBox{
    padding-right: 20px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    padding-left:20px;
    padding-right: 20px;
    background-color: fuchsia;
    margin-right: 10px;
    width:max-content;
    display:inline;
}

#presetForm{
    display:inline;
}

#presetLabel{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight:  bolder;
    font-size: larger;
}